{% extends 'base.html' %}
{% block title %} Change {{ request.user.get_full_name }} password {% endblock %}

{% block body %}
    <style>
        .change_password #old_passowrd, .change_password #new_password1,
        .change_password #new_password2 {
            width: 100%;
            font-size: 20px;
            padding-left: 10px;
            outline-color: currentcolor;
        }
    </style>
    <div class="change_password">
        <div class="container">
            <div class="change-form">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {% for errors in field.errors %}
                            <span>{{ errors }}</span>
                        {% endfor %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div>{{ field }}</div>
                        </div>
                    {% endfor %}
                    <input class="btn btn-success" type="submit" value="Change Now" />
                </form>
            </div>
        </div>
    </div>
    <script>

    </script>
{% endblock %}