<div class="handle-position">
    <div class="sticky">
        <div class="filter">
          <div class="FilterPanel">
            <div class="FilterPanelTitle"><strong>Filter</strong></div>
            <div class="FilterPanelContent">
              <div>
                <div class="FilterPanelLabel">Username</div>
                <div class="mt-1">
                  <select class="Select" name="user" id="user_input">
                    <option value="all">Any</option>
                    {% for user in users %}
                    <option {% if user.id == userr.id  %} selected="selected" {% endif %}
                            value="{% if user.id != userr.id  %}{{ user.username }}{% else %}{{ user.username }}{% endif %}">
                        {{ user.username }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="mt-3">
                <div class="mt-1">
                  <div class="FilterPanelLabel">Start Date</div>
                  <input placeholder="Start date" type="text" class="Select" name="start_date" id="start_date" value="{% if request.GET.start_date %}{{ request.GET.start_date }}{% endif %}">
                </div>
                <div class="mt-1">
                    <div class="FilterPanelLabel">End Date</div>
                    <input placeholder="End date" type="text" class="Select" name="end_date" id="end_date" value="{% if request.GET.end_date %}{{ request.GET.end_date }}{% endif %}">
                </div>
              </div>
              <div class="mt-3">
                <div class="FilterPanelLabel">Search History</div>
                <div class="mt-2">
                    <select name="formsets_option" id="formsets_option" class="Select">
                        <option id="contains" value="contains" {% if formsets_option == 'contains' or formsets_option == '' %}selected{% endif %}>contains</option>
                        <option id="start_with" value="start_with" {% if formsets_option == 'start_with' %}selected{% endif %}>start with</option>
                        <option id="is" value="is" {% if formsets_option == 'is' %}selected{% endif %}>is</option>
                        <option id="end_with" value="end_with" {% if formsets_option == 'end_with' %}selected{% endif %}>end with</option>
                    </select>
                </div>
                <div class="mt-2">
                    <input id="search_btn" type="text" class="form-control"
                   onkeyup="if (this.value != ''){document.getElementById('clear').hidden=false} else {document.getElementById('clear').hidden=true}"
                   placeholder="search" name="query" value="{{ request.GET.query }}">
                </div>
                <div class="mt-2">
                    <select name="verb_option" id="verb_option" class="Select">
                        {% if verb_option == '' %}
                        <option value="" selected>Any POS</option>
                        {% else %}
                        <option value="">Any POS</option>
                        {% endif %}

                        {% if verb_option == 'Adj' %}
                        <option value="Adj" selected>Adjective</option>
                        {% else %}
                        <option value="Adj">Adjective</option>
                        {% endif %}

                        {% if verb_option == 'Adv' %}
                        <option value="Adv" selected>Adverb</option>
                        {% else %}
                        <option value="Adv">Adverb</option>
                        {% endif %}

                        {% if verb_option == 'Asp' %}
                        <option value="Asp" selected>Aspect Marker</option>
                        {% else %}
                        <option value="Asp">Aspect Marker</option>
                        {% endif %}

                        {% if verb_option == 'Cl' %}
                        <option value="Cl" selected>Classifier</option>
                        {% else %}
                        <option value="Cl">Classifier</option>
                        {% endif %}

                        {% if verb_option == 'Conj' %}
                        <option value="Conj" selected>Conjunction</option>
                        {% else %}
                        <option value="Conj">Conjunction</option>
                        {% endif %}

                        {% if verb_option == 'Det' %}
                        <option value="Det" selected>Determiner</option>
                        {% else %}
                        <option value="Det">Determiner</option>
                        {% endif %}

                        {% if verb_option == 'Idiom' %}
                        <option value="Idiom" selected>Idiom</option>
                        {% else %}
                        <option value="Idiom">Idiom</option>
                        {% endif %}

                        {% if verb_option == 'Intj' %}
                        <option value="Intj" selected>Interjection</option>
                        {% else %}
                        <option value="Intj">Interjection</option>
                        {% endif %}

                        {% if verb_option == 'Noun' %}
                        <option value="Noun" selected>Noun</option>
                        {% else %}
                        <option value="Noun">Noun</option>
                        {% endif %}

                        {% if verb_option == 'Num' %}
                        <option value="Num" selected>Number</option>
                        {% else %}
                        <option value="Num">Number</option>
                        {% endif %}

                        {% if verb_option == 'Ono' %}
                        <option value="Ono" selected>Onomatopoeia</option>
                        {% else %}
                        <option value="Ono">Onomatopoeia</option>
                        {% endif %}

                        {% if verb_option == 'Part' %}
                        <option value="Part" selected>Particle</option>
                        {% else %}
                        <option value="Part">Particle</option>
                        {% endif %}

                        {% if verb_option == 'Prep' %}
                        <option value="Prep" selected>Preposition</option>
                        {% else %}
                        <option value="Prep">Preposition</option>
                        {% endif %}

                        {% if verb_option == 'Pro' %}
                        <option value="Pro" selected>Pronoun</option>
                        {% else %}
                        <option value="Pro">Pronoun</option>
                        {% endif %}

                        {% if verb_option == 'Pu' %}
                        <option value="Pu" selected>Punctuation</option>
                        {% else %}
                        <option value="Pu">Punctuation</option>
                        {% endif %}

                        {% if verb_option == 'SFP' %}
                        <option value="SFP" selected>Sentence-Final Particle</option>
                        {% else %}
                        <option value="SFP">Sentence-Final Particle</option>
                        {% endif %}

                        {% if verb_option == 'Verb' %}
                        <option value="Verb" selected>Verb</option>
                        {% else %}
                        <option value="Verb">Verb</option>
                        {% endif %}

                        {% if verb_option == 'X' %}
                        <option value="X" selected>Unclassified</option>
                        {% else %}
                        <option value="X">Unclassified</option>
                        {% endif %}
                    </select>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>