{% extends 'base.html' %}

{% block title %} Change your password {% endblock %}

{% block body %}
    {% block content %}
        <div class="container">
        {% if validlink %}
            <h3>Change password</h3>
            <div class="mt-6"></div>
            <form method="post">
                {% csrf_token %}
                {% for fields in form %}
                    {% for errors in fields.errors %}
                        <p class="text-danger">{{ errors }}</p>
                    {% endfor %}
                    <div>
                        <label for="{{ fields.id_for_label }}">
                            <strong>{{ fields.label }}:</strong>
                        </label>
                        {{ fields }}<br>
                    </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Change password</button>
            </form>
        {% else %}
            <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </p>
        {% endif %}
        </div>
    {% endblock %}
    <script>
        let id_new_password1 = document.getElementById('id_new_password1')
        let id_new_password2 = document.getElementById('id_new_password2')
        id_new_password1.setAttribute('placeholder', 'Password')
        id_new_password1.className = 'form-control'
        id_new_password2.setAttribute('placeholder', 'New Password')
        id_new_password2.className = 'form-control'
    </script>
{% endblock %}