{% extends 'base2.html' %}

{% block body %}
<div style="background-color: #61a7ff; padding:10px" class="main_bg">
    <div class="container">
        {% load i18n %}
        {% autoescape off %}
            <h2 style="text-align: center; color: #FFF" class="text-center">Hi {{ user.get_full_name }}, Do you forgot a password?</h2>
            <div style="font-size: 16px" class="content">
            {% blocktrans %}
                <p style="color: #FFF">To initiate the password reset process for your {{ user.get_username }}, click the link below:</p>
            {% endblocktrans %}

            <p style="color: #FFF">
                {% trans "Please go to the following page and choose a new password:" %}
            </p>
            {% block reset_link %}
            <strong>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</strong>
            <p style="color: #FFF">{% trans "your email, in case you have forgotten is:" %}
                <strong>{{ user.get_username }}</strong>
            </p>
            <p style="color: #FFF">If clicking the link above doesn't work, please copy and paste the URL in a new browser
                window instead.</p>
            <p style="color: #FFF">Sincerely,</p>
            <p style="color: #FFF">The Corpus Team</p>
            <p style="color: #FFF">{% trans "Thanks for using our site!" %}</p>
            {% endblock %}
            </div>
        {% endautoescape %}
    </div>
</div>
{% endblock %}