{% extends 'base.html' %}

{% block title %} Forgot Password? {% endblock %}

{% block body %}
    {% if messages %}
        <div class="container alert">
        {% for message in messages %}
            {% if 'user_error' in message.tags %}
            <div class="container">
                <div class="alert text-center text-danger alert-danger">{{ message }}</div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
    {% block content %}
        <div class="container">
            <h3 class="text-center">Receive your password on your own Email address you will type right now!</h3>
            <form method="post">
                {% csrf_token %}
                <label for="{{ form.email.id_for_label }}">
                    <strong>{{ form.email.label }}:</strong>
                </label>
                <p>{{ form.email }}</p>
                <p style="color: #BBB">We'll never share your email with anyone else.</p>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    {% endblock %}
{% endblock %}