{% extends 'base.html' %}

{% block title %} Password Reset Done {% endblock %}

{% block body %}
    {% block content %}
        <div class="container">
            <p style="font-size: 16px">
                We've emailed you instructions for setting your password
            </p>
            <p style="font-size: 16px">
                <strong class="text-danger">Note:-</strong><br>
                if you didn't receive any email try to check on the Spam section in your email or try to submit again
            </p>
            <p>Please check your email</p>
            <p>Thanks!</p>
        </div>
    {% endblock %}
{% endblock %}