<select name="verb_option" id="verb_option" class="form-control">
    {% if verb_option == '' %}
    <option value="" selected>Any POS</option>
    {% else %}
    <option value="">Any POS</option>
    {% endif %}

    {% if verb_option == 'Adj' %}
    <option value="Adj" selected>Adjective</option>
    {% else %}
    <option value="Adj">Adjective</option>
    {% endif %}

    {% if verb_option == 'Adv' %}
    <option value="Adv" selected>Adverb</option>
    {% else %}
    <option value="Adv">Adverb</option>
    {% endif %}

    {% if verb_option == 'Asp' %}
    <option value="Asp" selected>Aspect Marker</option>
    {% else %}
    <option value="Asp">Aspect Marker</option>
    {% endif %}

    {% if verb_option == 'Cl' %}
    <option value="Cl" selected>Classifier</option>
    {% else %}
    <option value="Cl">Classifier</option>
    {% endif %}

    {% if verb_option == 'Conj' %}
    <option value="Conj" selected>Conjunction</option>
    {% else %}
    <option value="Conj">Conjunction</option>
    {% endif %}

    {% if verb_option == 'Det' %}
    <option value="Det" selected>Determiner</option>
    {% else %}
    <option value="Det">Determiner</option>
    {% endif %}

    {% if verb_option == 'Idiom' %}
    <option value="Idiom" selected>Idiom</option>
    {% else %}
    <option value="Idiom">Idiom</option>
    {% endif %}

    {% if verb_option == 'Intj' %}
    <option value="Intj" selected>Interjection</option>
    {% else %}
    <option value="Intj">Interjection</option>
    {% endif %}

    {% if verb_option == 'Noun' %}
    <option value="Noun" selected>Noun</option>
    {% else %}
    <option value="Noun">Noun</option>
    {% endif %}

    {% if verb_option == 'Num' %}
    <option value="Num" selected>Number</option>
    {% else %}
    <option value="Num">Number</option>
    {% endif %}

    {% if verb_option == 'Ono' %}
    <option value="Ono" selected>Onomatopoeia</option>
    {% else %}
    <option value="Ono">Onomatopoeia</option>
    {% endif %}

    {% if verb_option == 'Part' %}
    <option value="Part" selected>Particle</option>
    {% else %}
    <option value="Part">Particle</option>
    {% endif %}

    {% if verb_option == 'Prep' %}
    <option value="Prep" selected>Preposition</option>
    {% else %}
    <option value="Prep">Preposition</option>
    {% endif %}

    {% if verb_option == 'Pro' %}
    <option value="Pro" selected>Pronoun</option>
    {% else %}
    <option value="Pro">Pronoun</option>
    {% endif %}

    {% if verb_option == 'Pu' %}
    <option value="Pu" selected>Punctuation</option>
    {% else %}
    <option value="Pu">Punctuation</option>
    {% endif %}

    {% if verb_option == 'SFP' %}
    <option value="SFP" selected>Sentence-Final Particle</option>
    {% else %}
    <option value="SFP">Sentence-Final Particle</option>
    {% endif %}

    {% if verb_option == 'Verb' %}
    <option value="Verb" selected>Verb</option>
    {% else %}
    <option value="Verb">Verb</option>
    {% endif %}

    {% if verb_option == 'X' %}
    <option value="X" selected>Unclassified</option>
    {% else %}
    <option value="X">Unclassified</option>
    {% endif %}
</select>